In [260]:
# Libs
import numpy as np
import pandas as pd
import os

In [261]:
HOUSE_CSV = '../raw_data/house_results/1976-2018-house.csv'
SAVE_PATH = '../processed_data/house.csv'

# House Data

In [262]:
# Read
house = pd.read_csv(HOUSE_CSV, delimiter=',', encoding='utf-8')
house.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Bill Davenport,democrat,False,total,58906,157170,False,20200424
1,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Jack Edwards,republican,False,total,98257,157170,False,20200424
2,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,NaN,NaN,True,total,7,157170,False,20200424
3,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,J. Carole Keahey,democrat,False,total,66288,156362,False,20200424
4,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,NaN,NaN,True,total,5,156362,False,20200424

In [263]:
house = house.groupby(['state', 'state_po', 'year', 'party'])[['candidatevotes', 'totalvotes']].sum().reset_index()

In [264]:
house['pop_percent'] = house['candidatevotes'] / house['totalvotes']

In [265]:
house = house[['state', 'state_po', 'year', 'party', 'pop_percent']]
house.head()

     state state_po  year              party  pop_percent
0  Alabama       AL  1976           democrat     0.677774
1  Alabama       AL  1976  national democrat     0.006282
2  Alabama       AL  1976        prohibition     0.010282
3  Alabama       AL  1976         republican     0.483029
4  Alabama       AL  1978       conservative     0.039641

In [266]:
house = house[house.party.isin(['democrat', 'republican'])]
house.head()

     state state_po  year       party  pop_percent
0  Alabama       AL  1976    democrat     0.677774
3  Alabama       AL  1976  republican     0.483029
5  Alabama       AL  1978    democrat     0.684382
7  Alabama       AL  1978  republican     0.482370
8  Alabama       AL  1980    democrat     0.700725

In [267]:
house = house.pivot_table(index=['state', 'state_po', 'year'], columns=['party'], values='pop_percent').fillna(0).reset_index()

In [268]:
house[house['state'] == 'Alabama']

party    state state_po  year  democrat  republican
0      Alabama       AL  1976  0.677774    0.483029
1      Alabama       AL  1978  0.684382    0.482370
2      Alabama       AL  1980  0.700725    0.547513
3      Alabama       AL  1982  0.704028    0.447112
4      Alabama       AL  1984  0.715472    0.499923
5      Alabama       AL  1986  0.666029    0.391170
6      Alabama       AL  1988  0.687523    0.470411
7      Alabama       AL  1990  0.739267    0.424824
8      Alabama       AL  1992  0.558865    0.401333
9      Alabama       AL  1994  0.496991    0.561945
10     Alabama       AL  1996  0.446688    0.534838
11     Alabama       AL  1998  0.495150    0.618612
12     Alabama       AL  2000  0.563483    0.690722
13     Alabama       AL  2002  0.557667    0.630032
14     Alabama       AL  2004  0.464628    0.602232
15     Alabama       AL  2006  0.515526    0.730134
16     Alabama       AL  2008  0.530683    0.690395
17     Alabama       AL  2010  0.503324    0.668578
18     Alabama       AL  2012  0.400183    0.637983
19     Alabama       AL  2014  0.419342    0.745553
20     Alabama       AL  2016  0.433584    0.737641
21     Alabama       AL  2018  0.408873    0.663436

In [269]:
house.to_csv(SAVE_PATH, index=False)

In [270]:
# house.groupby(['state', 'year', 'party']).sum()

In [271]:
# house['party'] = house.index.get_level_values('party')

In [272]:
# house[house.index.get_level_values('state') == 'California']