In [198]:
# Libs
import numpy as np
import pandas as pd
import os

In [199]:
HOUSE_CSV = '../raw_data/house_results/1976-2018-house.csv'

# House Data

In [200]:
# Read
house = pd.read_csv(HOUSE_CSV, delimiter=',', encoding='utf-8')
house.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Bill Davenport,democrat,False,total,58906,157170,False,20200424
1,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Jack Edwards,republican,False,total,98257,157170,False,20200424
2,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,NaN,NaN,True,total,7,157170,False,20200424
3,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,J. Carole Keahey,democrat,False,total,66288,156362,False,20200424
4,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,NaN,NaN,True,total,5,156362,False,20200424

In [201]:
house = house.groupby(['state', 'state_po', 'year', 'party'])[['candidatevotes', 'totalvotes']].sum().reset_index()

In [202]:
house['pop_percent'] = house['candidatevotes'] / house['totalvotes']

In [203]:
house = house[['state', 'state_po', 'year', 'party', 'pop_percent']]
house.head()

     state state_po  year              party  pop_percent
0  Alabama       AL  1976           democrat     0.677774
1  Alabama       AL  1976  national democrat     0.006282
2  Alabama       AL  1976        prohibition     0.010282
3  Alabama       AL  1976         republican     0.483029
4  Alabama       AL  1978       conservative     0.039641

In [204]:
house = house[house.party.isin(['democrat', 'republican'])]
house.head()

     state state_po  year       party  pop_percent
0  Alabama       AL  1976    democrat     0.677774
3  Alabama       AL  1976  republican     0.483029
5  Alabama       AL  1978    democrat     0.684382
7  Alabama       AL  1978  republican     0.482370
8  Alabama       AL  1980    democrat     0.700725

In [205]:
house = house.pivot_table(index=['state', 'state_po', 'year'], columns=['party'], values='pop_percent').fillna(0).reset_index()

In [206]:
house

party    state state_po  year  democrat  republican
0      Alabama       AL  1976  0.677774    0.483029
1      Alabama       AL  1978  0.684382    0.482370
2      Alabama       AL  1980  0.700725    0.547513
3      Alabama       AL  1982  0.704028    0.447112
4      Alabama       AL  1984  0.715472    0.499923
...        ...      ...   ...       ...         ...
1094   Wyoming       WY  2010  0.239847    0.689968
1095   Wyoming       WY  2012  0.229649    0.663949
1096   Wyoming       WY  2014  0.220873    0.660450
1097   Wyoming       WY  2016  0.291613    0.603490
1098   Wyoming       WY  2018  0.297662    0.635857

[1099 rows x 5 columns]

In [207]:
# house.groupby(['state', 'year', 'party']).sum()

In [208]:
# house['party'] = house.index.get_level_values('party')

In [209]:
# house[house.index.get_level_values('state') == 'California']