In [86]:
# Libs
import numpy as np
import pandas as pd
import os

SENATE_CSV = '../raw_data/senate_results/1976-2018-senate.csv'
SAVE_PATH = '../processed_data/senate.csv'

In [87]:
df = pd.read_csv(SENATE_CSV, delimiter=',', encoding='utf-8')
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Sam Steiger,republican,False,total,321236,741210,False,20171011.0
1,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Wm. Mathews Feighan,independent,False,total,1565,741210,False,20171011.0
2,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Dennis DeConcini,democrat,False,total,400334,741210,False,20171011.0
3,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Allan Norwitz,libertarian,False,total,7310,741210,False,20171011.0
4,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Bob Field,independent,False,total,10765,741210,False,20171011.0

In [88]:
# Disregard special elections
df = df[df['special'] == False]
df = df[df.party.isin(['democrat', 'republican'])]
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Sam Steiger,republican,False,total,321236,741210,False,20171011.0
2,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Dennis DeConcini,democrat,False,total,400334,741210,False,20171011.0
6,1976,California,CA,6,93,71,US Senate,statewide,gen,False,S. I. (Sam) Hayakawa,republican,False,total,3748973,7470586,False,20171011.0
7,1976,California,CA,6,93,71,US Senate,statewide,gen,False,John V. Tunney,democrat,False,total,3502862,7470586,False,20171011.0
10,1976,Connecticut,CT,9,16,1,US Senate,statewide,gen,False,"Lowell P. Weicker, Jr.",republican,False,total,785683,1361666,False,20171011.0

In [89]:
# Combine all elections in state
df = df.groupby(['state', 'state_po', 'year', 'party'])[['candidatevotes', 'totalvotes']].sum().reset_index()
df

        state state_po  year       party  candidatevotes  totalvotes
0     Alabama       AL  1978    democrat          547054      582005
1     Alabama       AL  1980    democrat          610175     1296757
2     Alabama       AL  1980  republican          650362     1296757
3     Alabama       AL  1984    democrat          860535     1371234
4     Alabama       AL  1984  republican          498508     1371234
...       ...      ...   ...         ...             ...         ...
1417  Wyoming       WY  2012  republican          185250      250700
1418  Wyoming       WY  2014    democrat           29377      171153
1419  Wyoming       WY  2014  republican          121554      171153
1420  Wyoming       WY  2018    democrat           61227      203420
1421  Wyoming       WY  2018  republican          136210      203420

[1422 rows x 6 columns]

In [90]:
# Get popular vote
df['pop_percent'] = df['candidatevotes'] / df['totalvotes']
df = df[['state', 'state_po', 'year', 'party', 'pop_percent']]
df

        state state_po  year       party  pop_percent
0     Alabama       AL  1978    democrat     0.939947
1     Alabama       AL  1980    democrat     0.470539
2     Alabama       AL  1980  republican     0.501530
3     Alabama       AL  1984    democrat     0.627562
4     Alabama       AL  1984  republican     0.363547
...       ...      ...   ...         ...          ...
1417  Wyoming       WY  2012  republican     0.738931
1418  Wyoming       WY  2014    democrat     0.171642
1419  Wyoming       WY  2014  republican     0.710207
1420  Wyoming       WY  2018    democrat     0.300988
1421  Wyoming       WY  2018  republican     0.669600

[1422 rows x 5 columns]

In [91]:
# Reshape
df = df.pivot_table(index=['state', 'state_po', 'year'], columns=['party'], values='pop_percent').fillna(0).reset_index()
df.head(60)

party       state state_po  year  democrat  republican
0         Alabama       AL  1978  0.939947    0.000000
1         Alabama       AL  1980  0.470539    0.501530
2         Alabama       AL  1984  0.627562    0.363547
3         Alabama       AL  1986  0.502815    0.497185
4         Alabama       AL  1990  0.605671    0.394202
5         Alabama       AL  1992  0.648180    0.330850
6         Alabama       AL  1996  0.454618    0.524503
7         Alabama       AL  1998  0.366914    0.632418
8         Alabama       AL  2002  0.398277    0.585771
9         Alabama       AL  2004  0.323544    0.675452
10        Alabama       AL  2008  0.365204    0.633622
11        Alabama       AL  2010  0.347102    0.651755
12        Alabama       AL  2014  0.000000    0.972516
13        Alabama       AL  2016  0.358673    0.639588
14         Alaska       AK  1978  0.240946    0.755925
15         Alaska       AK  1980  0.459340    0.536858
16         Alaska       AK  1984  0.284851    0.711686
17         Alaska       AK  1986  0.440965    0.540229
18         Alaska       AK  1990  0.321925    0.662287
19         Alaska       AK  1992  0.384062    0.530478
20         Alaska       AK  1996  0.103387    0.767058
21         Alaska       AK  1998  0.197212    0.744913
22         Alaska       AK  2002  0.105133    0.781701
23         Alaska       AK  2004  0.455456    0.485779
24         Alaska       AK  2008  0.477671    0.465229
25         Alaska       AK  2010  0.235007    0.355530
26         Alaska       AK  2014  0.458325    0.479621
27         Alaska       AK  2016  0.116234    0.443580
28        Arizona       AZ  1976  0.540109    0.433394
29        Arizona       AZ  1980  0.483818    0.494569
30        Arizona       AZ  1982  0.569110    0.403032
31        Arizona       AZ  1986  0.395129    0.604748
32        Arizona       AZ  1988  0.567094    0.410514
33        Arizona       AZ  1992  0.315705    0.558152
34        Arizona       AZ  1994  0.395430    0.537057
35        Arizona       AZ  1998  0.271617    0.687448
36        Arizona       AZ  2000  0.000000    0.793225
37        Arizona       AZ  2004  0.206205    0.767390
38        Arizona       AZ  2006  0.434994    0.533408
39        Arizona       AZ  2010  0.346512    0.588601
40        Arizona       AZ  2012  0.462036    0.492309
41        Arizona       AZ  2016  0.407489    0.268650
42        Arizona       AZ  2018  0.499558    0.476113
43       Arkansas       AR  1978  0.764798    0.163028
44       Arkansas       AR  1980  0.590873    0.408718
45       Arkansas       AR  1984  0.573477    0.426523
46       Arkansas       AR  1986  0.622761    0.377164
47       Arkansas       AR  1990  0.998332    0.000000
48       Arkansas       AR  1992  0.601772    0.398228
49       Arkansas       AR  1996  0.472996    0.527004
50       Arkansas       AR  1998  0.550601    0.422170
51       Arkansas       AR  2002  0.538956    0.461044
52       Arkansas       AR  2004  0.558978    0.440695
53       Arkansas       AR  2008  0.795330    0.000000
54       Arkansas       AR  2010  0.369451    0.579029
55       Arkansas       AR  2014  0.394303    0.564975
56       Arkansas       AR  2016  0.361710    0.597716
57     California       CA  1976  0.468887    0.501831
58     California       CA  1980  0.565124    0.371416
59     California       CA  1982  0.447760    0.515353

In [92]:
set(df['year'])

{1976,
 1978,
 1980,
 1982,
 1984,
 1986,
 1988,
 1990,
 1992,
 1994,
 1996,
 1998,
 2000,
 2002,
 2004,
 2006,
 2008,
 2010,
 2012,
 2014,
 2016,
 2018}

In [93]:
df.to_csv(SAVE_PATH, index=False)