In [95]:
# Libs
import numpy as np
import pandas as pd
import os

# House Data

In [96]:
HOUSE_CSV = '../raw_data/house_results/1976-2018-house.csv'

In [97]:
# Read
house = pd.read_csv(HOUSE_CSV, delimiter=',', encoding='utf-8')
house.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Bill Davenport,democrat,False,total,58906,157170,False,20200424
1,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Jack Edwards,republican,False,total,98257,157170,False,20200424
2,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,NaN,NaN,True,total,7,157170,False,20200424
3,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,J. Carole Keahey,democrat,False,total,66288,156362,False,20200424
4,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,NaN,NaN,True,total,5,156362,False,20200424

In [98]:
house = house.groupby(['state', 'state_po', 'year', 'party'])[['candidatevotes', 'totalvotes']].sum().reset_index()

In [99]:
house['pop_percent'] = house['candidatevotes'] / house['totalvotes']

In [100]:
house = house[['state', 'state_po', 'year', 'party', 'pop_percent']]
house.head()

     state  year              party  pop_percent
0  Alabama  1976           democrat     0.677774
1  Alabama  1976  national democrat     0.006282
2  Alabama  1976        prohibition     0.010282
3  Alabama  1976         republican     0.483029
4  Alabama  1978       conservative     0.039641

In [110]:
house = house[house.party.isin(['democrat', 'republican'])]
house.head()

     state  year       party  pop_percent
0  Alabama  1976    democrat     0.677774
3  Alabama  1976  republican     0.483029
5  Alabama  1978    democrat     0.684382
7  Alabama  1978  republican     0.482370
8  Alabama  1980    democrat     0.700725

In [114]:
house.pivot_table(index=['state', 'year'], columns=['party'], values='pop_percent').fillna(0)

party         democrat  republican
state   year
Alabama 1976  0.677774    0.483029
        1978  0.684382    0.482370
        1980  0.700725    0.547513
        1982  0.704028    0.447112
        1984  0.715472    0.499923
...                ...         ...
Wyoming 2010  0.239847    0.689968
        2012  0.229649    0.663949
        2014  0.220873    0.660450
        2016  0.291613    0.603490
        2018  0.297662    0.635857

[1099 rows x 2 columns]

In [109]:
# house.groupby(['state', 'year', 'party']).sum()

In [102]:
# house['party'] = house.index.get_level_values('party')

In [103]:
# house[house.index.get_level_values('state') == 'California']